<suite name = "Regression suite">
    <test name = "Opening browsers">
        <classes>
            <class name = "BaseClassTest">
            </class>

        </classes>
    </test>

    <test name = "Opening browsers">
        <classes>
            <class name = "BaseClassTest3">
            </class>

        </classes>
    </test>

</suite>